.div-example
	height: 2000px
	width: 100%
	background: red 

.header-wrap
	position: relative

.header-fixed
	position: fixed
	top: 0px
	left: 0
	width: 100%
	height: 80px
	z-index: 1000
	background: transparent
	transition: all .2s linear

.header-bg
	position: absolute
	left: 0
	width: 100%
	height: 100%
	background: $blanco
	top: -100%
	transition: all .2s linear

.header-fixed.scrolling
	box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1)
	height: 70px
	.header-bg
		top: 0
	.header-link
		color: #2973b8
	.header-languages-select select
		color: $c-2
	.header-languages-select:before
		color: $c-2
	.header-logo-desktop
		opacity: 0
		visibility: hidden
	.header-logo-scroll
		width: 80%
		opacity: 1
		visibility: visible

.header-cnt
	display: flex
	height: 100%
	align-items: center
	justify-content: flex-end
	flex-direction: row
	max-width: 1240px
	margin: auto
	padding: 0 20px 
	position: relative
	box-sizing: border-box

// header logo
.header-logo
	max-width: 60px
	position: absolute
	top: 10px
	left: 20px
	img 
		display: block
		height: auto
		width: 100%
	.header-logo-desktop
		opacity: 1
		visibility: visible
	.header-logo-scroll
		opacity: 0
		visibility: hidden
		position: absolute
		top: 0
		left: 0
		right: 0
		margin: auto
		transition: all .2s linear

.header-cnt-list
	display: flex
	align-items: center
	justify-content: flex-end

// header list
.header-list
	display: flex

	.header-item
		display: inline-block
		margin-right: 50px
		&:lastt-child
			margin-right: 0

	.header-link
		display: inline-block
		vertical-align: middle
		box-sizing: border-box
		color: #2973b8
		font-size: 15px
		line-height: 15px
		font-family: $t-0
		text-decoration: inherit
		position: relative
		padding-bottom: 7px
		margin-top: 7px
		transition: all .35s ease-in-out
		&:before
			content: ""
			display: block
			position: absolute
			bottom: 0
			left: 0
			width: 0
			height: 2px
			background: $c-0
			transition: all .35s ease-in-out

	//hover
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 70%

	//active
	.header-link.active
		color: $blanco
		text-decoration: inherit

//hover & active with class scrolling
.header-fixed.scrolling
	.header-link:hover
		color: $c-0
		text-decoration: inherit !important
		&:before
			width: 70%
	.header-link.active
		color: #2973b8
		text-decoration: inherit



//languages
.header-languages
	padding-left: 20px
	position: relative
	&:before 
		content: ""
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 3px
		background: $c-0


// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: block
		margin-top: 20px
	.header-item
		display: block
	.header-link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 45px
		color: #2972b8
		text-decoration: inherit
	.header-languages-select
		padding-left: 30px
		margin-top: 20px
	.header-languages-select select
		color: $c-0 
		font-size: 14px
		width: 90px
	.header-languages-select:before
		color: $c-0

.menu-sidebar
	.header-link.active 
		background: $c-0
		color: $blanco 


.responsive-logo
	display: block
	width: 60%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: none
	.header-logo-scroll
		display: block
	


.menu-mobile-close, .menu-mobile-open
	border-radius: 7%
	color: #2973b8
	background-color: white
	cursor: pointer
	font-size: 30px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 20px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1200
	display: none

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background-color: white
	color: #2973b8

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden

@media screen and (max-width: 1024px)
	//media query header
	.header-cnt-list
		display: none

	.header-languages
		display: none

	.header-fixed
		height: 60px

	.header-fixed.scrolling .header-logo-scroll
		width: 100%
	
	.header-fixed.scrolling .header-logo
		max-width: 60px

	.header-logo
		max-width: 60px
	
	// .header-logo .header-logo-desktop
	// 	opacity: 0
	// 	visibility: visible

	// .header-logo .header-logo-scroll
	// 	opacity: 1
	// 	visibility: visible
	
	// .header-bg
	// 	top: 0

	.menu-mobile-close, .menu-mobile-open
		display: block
		display: none

	.header-fixed.scrolling
		height: 60px
	
@media screen and (max-width: 768px)
	.header-logo
		left: 0
		right: 0
@media screen and (max-width: 640px)
	.responsive-logo
		display: none
	.header-bg
		display: none !important
	.header-fixed.scrolling
		box-shadow: none
	.header-fixed
		position: relative
