.header-wrap
	.header-fixed
		.header-bg
		.header-cnt
			a(href="home.html").header-logo
				img.header-logo-desktop(src=`${STATIC_URL}img/logo-1.png`, alt="")
				img.header-logo-scroll(src=`${STATIC_URL}img/logo-1.png`, alt="")
			.header-cnt-list
				ul.header-list.nav-scroll
					li.header-item
						a.header-link(href="#home") Inicio
					li.header-item
						a.header-link(href="#nosotros") Nosotros
					li.header-item
						a.header-link(href="#team") Informate
					li.header-item
						a.header-link(href="#chat") Consultas



//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt