extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section#home.home
		.banner-home
			ul.box-banner
				li.banner-bgc(style=`background-image: url('${STATIC_URL}img/banner.svg')`)
					//.banner__bgc__wrapp
						.banner__content__box
							p Información
							h3 Simple, directa y confiable
						.banner__button.nav-scroll
							a(href="#nosotros")
								.button__banner
									.button__banner__img
										img(src=`${STATIC_URL}img/1.png`, alt="")
									.button__text
										p ¿Quienes somos?
				//li.banner-bgc(style=`background-image: url('${STATIC_URL}img/banner.png')`)
					.banner__bgc__wrapp
						.banner__content__box
							p Información
							h3 Simple, directa y confiable
						.banner__button.nav-scroll
							a(href="#team")
								.button__banner
									.button__banner__img
										img(src=`${STATIC_URL}img/1.png`, alt="")
									.button__text
										p Equipo
				//li.banner-bgc(style=`background-image: url('${STATIC_URL}img/banner.png')`)
					.banner__bgc__wrapp
						.banner__content__box
							p Información
							h3 Simple, directa y confiable
						.banner__button.nav-scroll
							a(href="#chat")
								.button__banner
									.button__banner__img
										img(src=`${STATIC_URL}img/lapiz.png`, alt="")
									.button__text
										p Preguntas
			.bloque__blue
				.bloque__blue__text
					p www.veninformado.pe
		.nav-page.nav-scroll
			.nav-page-wrap
				.nav__item
					ul
						li
							a(href="#nosotros") Nosotros
						li
							a(href="#team") Informate
						li
							a(href="#chat") Consultas

	section.scroll-home
		section.nosotros#nosotros
			.nosotros__blck
				.nosotros__title
					h2 ¿Quiénes somos?
				.nosotros__text
					p Migrar es un proceso complejo que requiere información y preparación. En Ven Informado, buscamos consolidar toda la información necesaria en un solo lugar para ayudarte a preparar y consolidar con éxito tu nuevo proyecto de vida en Perú.
		section.team#team
			.team__block
				.team__text
					.team__title
						h2 Informate
					.team__parrafo
						p Estamos construyendo esta página web para darte información variada que te pueda ser de utilidad para comenzar una nueva vida en Perú. Mientras desarrollamos más contenido, te facilitamos algunos links de interés.
					.team__slider
						ul.team__box__slider
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 Interpol
								.text__slider__team
									p Interpol conoce la información sobre la Ficha de Canje Internacional para el proceso de PTP
										|	
										a(href="https://www.policia.gob.pe/direcciones_policiales/interpol_peru/index.html#") link
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 HELP ACNUR
								.text__slider__team
									p - ACNUR es la agencia de la ONU para los Refugiados, conoce su trabajo.
										|	
										a(href="http://help.unhcr.org/peru/") link
									p - ACNUR conoce el trabajo que hace por los venezolanos.
										|	
										a(href="http://www.acnur.org/noticias/videos/2018/7/5b4960914/accion-en-la-frontera-que-necesitan-los-venezolanos-cuando-llegan-a-peru.html") link
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 Enlace sobre salud
								.text__slider__team
									p - SIS es el Sistema de Salud de Perú, conoce más información (link)
										|	
										a(href="http://www.sis.gob.pe/Portal/productos/sisindependiente/index.html") link
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 Trámites Migratorios
								.text__slider__team
									p - Información general sobre el PTP.
										|	
										a(href="https://www.gob.pe/634-sacar-permiso-temporal-de-permanencia-ptp-para-venezolanos") link
									p - Conoce los pasos y solicita tu cita en línea para el PTP. 
										|	
										a(href="https://www.migraciones.gob.pe/index.php/ptp-venezolanos-3/") link
									p - Solicita el Permiso de Trabajo Extraordinario, para que pueda trabajar formalmente.
										|	
										a(href="https://sel.migraciones.gob.pe/web-permiso-trabajo/Citas-en-Linea-Terminos") link
							li.team__item__slider
								.logo__team
									.logo__team__img
										h2 Otros enlaces de interés
								.text__slider__team
									p - Trabajar en Perú: conoce toda la información legal.
										|	
										a(href="http://www.mintra.gob.pe/migrante/eres_extranjero_vive_peru_tramites_1.php") link
									p - Solicita tu permiso para firmar contratos. 
										|	
										a(href="https://www.migraciones.gob.pe/index.php/permiso-especial-para-firmar-contratos-pefc/") link
									p - Estudiar en Perú: conoce los pasos que debes realizar.
										|	
										a(href="https://www.gob.pe/477-revalidar-o-convalidar-estudios-primarios-y-o-secundarios-del-extranjero") link
									p - Revalidación de títulos universitarios venezolanos en Perú.
										|	
										a(href="https://enlinea.sunedu.gob.pe/orientacionreconocimiento") link
									p - Procedimiento para conducir en Perú.
										|	
										a(href="http://www.touring.pe/centro_examenes_otropais.html") link

										


				//.team__vector
					img(src=`${STATIC_URL}img/vector-contruction.png`, alt="")
		section.chat#chat
			.chat__block
				.chat__img
					.chat__img__box
						img(src=`${STATIC_URL}img/chat-image.png`, alt="")
				.chat__title
					h2 ¿Tienes alguna pregunta?
					p Escríbenos a nuestro chat y conversemos, estamos para apoyarte.

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script.
		$(()=>{
			$('.team__box__slider').slick({
				dots: true,
				infinite: true,
				speed: 300,
				slidesToShow: 1,
				adaptiveHeight: true
			});


		})