
.banner-bgc
	width: 100%
	height: 600px
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	position: relative
.nav-page
	background: #F7FAFF
	box-shadow: 6px 3px 8px 2px rgba(0, 0, 0, 0.07)
.nav-page-wrap
	max-width: 800px
	margin: auto

.nav__item
	padding-top: 20px
	padding-bottom: 20px
	display: none
	ul
		display: flex
		align-items: center
		justify-content: center
		li
			margin: 0
			width: 33.333%
			text-align: center
.bloque__blue
	background-color: #0073BF
.bloque__blue__text
	p
		font-size: 14px
		color: white
		font-family: $t-3
		margin: auto
		padding-top: 15px
		padding-bottom: 15px

.bloque__blue__text
	max-width: 1200px
	margin: auto
	text-align: right
.banner-home
	.bx-wrapper .bx-controls-direction a
		z-index: 99
		text-indent: inherit
	.bx-wrapper .bx-next
		background: none
		&:before
			content: "\e606"
			font-family: 'icomoon'
			width: 10px
			height: 10px
			position: absolute
			left: 0
			right: 0
			top: 0
			font-size: 40px
			margin: auto
			color: white
	.bx-wrapper .bx-prev
		background: none
		&:before
			content: "\e607"
			font-family: 'icomoon'
			color: white
			font-size: 40px
			position: absolute
			left: 0
			right: 0
			top: 0
			margin: auto	

.banner-home
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
		position: absolute
	.bx-wrapper .bx-pager
		bottom: 15px
		z-index: 989
		width: 100%
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active
		background: #2972b8
.banner-container
	width: 100%
	height: 370px
	max-width: 100%
	background-repeat: no-repeat
	display: flex
	align-items: center
	justify-content: center
	position: absolute
	right: 35%
	left: 0
	bottom: 0
	top: 0
	margin: auto

.banner__bgc__wrapp
	max-width: 800px
	align-items: flex-start
	flex-direction: column
	margin: auto
	height: 100%
	display: flex
	align-items: flex-start
	justify-content: center
	position: relative
.banner__content__box
	color: white
	max-width: 400px
	p
		font-size: 18px
		font-family: $t-3
		margin: auto
	h3
		padding-top: 10px
		font-size: 50px
		letter-spacing: 5.4px
		font-family: $t-5
		margin: auto
.banner-container-responsive
	width: 198px
	height: 195px
	max-width: 100%
	background-repeat: no-repeat
	display: flex
	align-items: center
	justify-content: center
	position: absolute
	right: 35%
	left: 0
	bottom: 0
	top: 0
	margin: auto
.banner-container img
	width: 100%
	height: auto
	max-width: 100%
.banner-text
	padding-right: 20px
	padding-left: 20px
	color: white
	h3
		font-size: 18px
		font-family: $t-3
		font-weight: lighter
	h2
		font-size: 28px
		font-family: $t-5
		letter-spacing: 4.1px
		line-height: 1.4
.banner-container-responsive
	display: none
.nosotros__blck
	max-width: 800px
	margin: auto
	padding-top: 90px
	padding-bottom: 90px
	text-align: center
	color: #2974B8
.nosotros__title
	h2
		font-size: 28px
		font-family: $t-5
		letter-spacing: 3px
.nosotros__text
	padding-top: 20px
	p
		font-size: 18px
		text-align: justify
		font-family: $t-3
		line-height: 1.9
.logo__team
	background-color: #2471ba
	padding-top: 10px
	padding-bottom: 10px
	text-align: center
	h2
		margin: auto
.scroll-home
	position: relative

.logo__team__img
	h2
		font-size: 16px
		color: white
		font-family: $t-3
.team__block
	background-color: #ecf4ff
	display: flex
	align-items: center
	justify-content: center
	padding-top: 30px
	padding-bottom: 30px
.team__block
	display: flex
	align-items: center
	justify-content: space-between
.team__text
	width: 100%
	max-width: 800px
	margin: auto
.text__slider__team
	line-height: 1.4
	padding-top: 10px
	p
		font-size: 14px
		color: #696969
		font-family: $t-3
		a
			color: #2974B8
.team__slider
	max-width: 580px
	margin: auto
	margin-top: 40px
.team__vector
	img
		max-width: 100%
		height: auto
		width: 100%
.team__title
	text-align: center
	h2
		font-size: 28px
		font-family: $t-5
		letter-spacing: 3px
		color: #2974B8
.team__parrafo
	padding-top: 20px
	p
		font-size: 18px
		color: #2974B8
		line-height: 1.9
		font-family: $t-3
.chat__img__box
	width: 274px
	height: 273px
	max-width: 100%
	img
		max-width: 100%
		width: 100%
		height: auto
.chat__img__box
	img
		width: 100%
		max-width: 100%	
		height: auto
.chat__block
	max-width: 800px
	margin: auto
	display: flex
	align-items: center
.chat__title
	width: 50%
	h2
		font-size: 28px
		font-family: $t-5
		letter-spacing: 3px
		color: #2974B8
	p
		font-size: 18px
		color: #2974B8
		font-family: $t-3
		line-height: 1.9
.chat
	padding-top: 80px
	padding-bottom: 80px
.chat__img
	width: 50%
.button__banner__img
	width: 20px
	height: 20px
	max-width: 100%
	padding-right: 10px
	display: inline-block
	vertical-align: middle
	img
		max-width: 100%
		height: auto
.button__banner
	background: #2973b8
	width: 200px
	height: 40px
	display: flex
	align-items: center
	justify-content: center
	box-shadow: 4px 4px 19px 0px rgba(0, 0, 0, 0.75)
.button__text
	display: inline-block
	vertical-align: middle
	p
		font-size: 14px
		margin: auto
		font-family: $t-3
		color: white
.banner__button
	padding-top: 20px
@media screen and (max-width: 980px)
	.nav-page
		display: block
	.nav__item
		display: block
	.team__vector
		display: none
	.nosotros__text p
		font-size: 16px
	.team__parrafo p
		font-size: 16px
	.team__text
		width: 100%
	.team__slider
		margin-top: 50px
	.team__block
		padding-top: 40px
		padding-bottom: 40px
		background-color: white
		p
			text-align: justify



@media screen and (max-width: 768px)
	.team__vector
		width: 50%
	.team__block
		flex-direction: column
	.team__text
		order: 1
	.team__text
		width: 80%
		text-align: center
	.chat__block
		flex-direction: column
	.chat__title
		text-align: center
		width: 100%
	.banner__bgc__wrapp
		align-items: center
		text-align: center
	.nosotros__blck
		padding-left: 15px
		padding-right: 15px
	.team__block
		padding-left: 15px
		padding-right: 15px
	.chat__img__box
		width: 194px
		height: 243px
		margin: auto
	.banner-bgc
		height: 300px
	.nosotros__blck
		max-width: 520px
	.team__block
		max-width: 520px
		margin: auto
	.team__text
		width: 100%
	.scroll-home
		overflow-y: scroll
		height: 420px
	.chat
		padding-top: 20px
		padding-bottom: 20px
	.banner-bgc
		height: 180px
	
@media screen and (max-width: 520px)
	.chat__img__box
		width: 194px
		height: 243px
		margin: auto
	.banner-container
		display: none
	.banner-container-responsive
		display: flex
	.banner-container
		width: 278px
		height: 365px
	.nosotros__blck
		padding-top: 50px
		padding-bottom: 50px
	.banner-bgc
		height: 180px
	.banner__content__box h3
		font-size: 30px
		line-height: 1.4
	.nosotros__text
		p
			font-size: 14px
	.banner-bgc
		height: 150px
	.team__parrafo p
		font-size: 14px
	.chat__title p 
		font-size: 14px
	.banner__content__box
		p
			font-size: 18px
		h3
			font-size: 24px
	.banner-text
		h3
			font-size: 12px
		h2
			font-size: 14px
			line-height: 1.4
@media screen and (max-width: 380px)
	.banner-bgc
		background-position-x: 35%
		background-position: none






