
<div class="header-wrap">
  <div class="header-fixed">
    <div class="header-bg"></div>
    <div class="header-cnt"><a class="header-logo" href="home.html"><img class="header-logo-desktop" src="./assets/img/logo-1.png" alt=""/><img class="header-logo-scroll" src="./assets/img/logo-1.png" alt=""/></a>
      <div class="header-cnt-list">
        <ul class="header-list nav-scroll">
          <li class="header-item"><a class="header-link" href="#home">Inicio</a></li>
          <li class="header-item"><a class="header-link" href="#nosotros">Nosotros</a></li>
          <li class="header-item"><a class="header-link" href="#team">Informate</a></li>
          <li class="header-item"><a class="header-link" href="#chat">Consultas</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="menu-mobile-open icon-menu"></div>
<div class="menu-mobile-close icon-close"></div>
<div class="header-menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>