.cf {
  zoom: 1; }
  .cf:before {
    content: "";
    display: table; }
  .cf:after {
    clear: both; }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg"), url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rockwell';
  src: url("../fonts/RockwellBold.woff2") format("woff2"), url("../fonts/RockwellBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Regular.woff2") format("woff2"), url("../fonts/Metropolis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rockwell-r';
  src: url("../fonts/Rockwell.woff2") format("woff2"), url("../fonts/Rockwell.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?m99qe1");
  src: url("../fonts/icomoon.eot?m99qe1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?m99qe1") format("truetype"), url("../fonts/icomoon.woff?m99qe1") format("woff"), url("../fonts/icomoon.svg?m99qe1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu-button:before {
  content: "\e900"; }

.icon-back:before {
  content: "\e901"; }

.icon-next:before {
  content: "\e902"; }

.icon-phone:before {
  content: "\e60a";
  color: #444; }

.icon-youtube:before {
  content: "\e601"; }

.icon-staff:before {
  content: "\e60e"; }

.icon-search:before {
  content: "\e612"; }

.icon-location:before {
  content: "\e600"; }

.icon-envelope:before {
  content: "\e61d"; }

.icon-arrow-right:before {
  content: "\e606"; }

.icon-arrow-left:before {
  content: "\e607"; }

.icon-arrow-down:before {
  content: "\e608"; }

.icon-arrow-up:before {
  content: "\e609"; }

.icon-close:before {
  content: "\e605"; }

.icon-social-facebook:before {
  content: "\e603"; }

.icon-social-twitter:before {
  content: "\e604"; }

.icon-menu:before {
  content: "\e602"; }

/*!
 * Bootstrap v4.0.0-beta (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
  * Correct `inline-block` display not defined in IE 8/9.
  */
audio,
canvas,
video {
  display: inline-block; }

/**
  * Prevent modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address styling not present in IE 8/9.
  */
[hidden] {
  display: none; }

/* ==========================================================================
    Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS text size adjust after orientation change, without disabling
  *    user zoom.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  margin: 0; }

/* ==========================================================================
    Links
    ========================================================================== */
/**
  * Address `outline` inconsistency between Chrome and other browsers.
  */
a:focus {
  outline: thin dotted; }

/**
  * Improve readability when focused and also mouse hovered in all browsers.
  */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
    Typography
    ========================================================================== */
/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari 5, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Address styling not present in IE 8/9, Safari 5, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
  */
b,
strong {
  font-weight: bold; }

/**
  * Address styling not present in Safari 5 and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
  * Address styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Correct font family set oddly in Safari 5 and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
  * Improve readability of pre-formatted text in all browsers.
  */
pre {
  white-space: pre-wrap; }

/**
  * Set consistent quote types.
  */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
    Embedded content
    ========================================================================== */
/**
  * Remove border when inside `a` element in IE 8/9.
  */
img {
  border: 0; }

/**
  * Correct overflow displayed oddly in IE 9.
  */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
    Figures
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari 5.
  */
figure {
  margin: 0; }

/* ==========================================================================
    Forms
    ========================================================================== */
/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * 1. Correct font family not being inherited in all browsers.
  * 2. Correct font size not being inherited in all browsers.
  * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
  */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
button,
input {
  line-height: normal; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
  * Correct `select` style inheritance in Firefox 4+ and Opera.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *    and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *    `input` and others.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9.
  * 2. Remove excess padding in IE 8/9.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
  *    (include `-moz` to future-proof).
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
  * Remove inner padding and search cancel button in Safari 5 and Chrome
  * on OS X.
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * 1. Remove default vertical scrollbar in IE 8/9.
  * 2. Improve readability and alignment in all browsers.
  */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
    Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* default */
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
h7 p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu,
details {
  margin: auto;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
section,
menu {
  display: block; }

html,
body {
  height: 100%; }

body {
  font-family: Verdana; }

a {
  text-decoration: none; }

li {
  list-style: none; }

h2 {
  margin: 0 0 10px;
  font-size: 38px;
  line-height: 1;
  font-weight: bold; }

h3 {
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 1; }

h4 {
  padding: 0;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1; }

h5 {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold; }

h6 {
  font-size: 16px;
  font-size: 18px;
  line-height: 1; }

a img {
  border: none; }

p {
  margin: 0 0 15px; }

li {
  list-style: none; }

em,
cite {
  font-style: normal; }

strong {
  font-weight: bold; }

label {
  cursor: pointer; }

textarea {
  font-family: Arial, sans-serif;
  resize: none; }

input[type="submit"] {
  cursor: pointer; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal; }

table,
th,
td {
  vertical-align: middle; }

br {
  line-height: 1; }

img {
  width: 100%;
  height: auto; }

.wrapper {
  overflow: hidden; }

.btn-enlace {
  font-size: 13px;
  font-family: "ProximaNova-Semibold", sans-serif;
  text-transform: uppercase;
  border-radius: 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  padding: 13px 50px 13px 30px; }
  .btn-enlace:before {
    content: '\e93e';
    font-size: 10px;
    font-family: "icomoon";
    position: absolute;
    right: 3em;
    padding: 0px 1px;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
  @media screen and (min-width: 1025px) {
    .btn-enlace:hover {
      color: #fff; }
      .btn-enlace:hover:before {
        -webkit-transform: translateX(4px);
                transform: translateX(4px);
        color: #fff; } }

.btn-red {
  background-color: #DE0000;
  color: #fff; }

.btn-gray {
  background-color: #2B292B;
  color: #fff; }

.btn-productos {
  width: 180px;
  height: 44px;
  line-height: 22px;
  color: #858789;
  background-color: #fff;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  position: relative;
  border-radius: 30px;
  border-color: #858789; }
  @media screen and (min-width: 1025px) {
    .btn-productos:hover {
      background-color: #DE0000;
      color: #fff;
      border-color: #DE0000; }
      .btn-productos:hover .text-btn {
        color: #fff;
        opacity: 0;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
        -webkit-animation-name: hvr-icon-drop;
                animation-name: hvr-icon-drop;
        -webkit-animation-duration: 0.5s;
                animation-duration: 0.5s;
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); } }
  .btn-productos .text-btn {
    display: inline-block;
    font-size: 13px;
    font-family: "ProximaNova-Semibold", sans-serif;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding-right: 20px; }
    .btn-productos .text-btn:before {
      content: '\e93e';
      position: absolute;
      opacity: 1;
      right: 0;
      top: 0;
      font-family: "icomoon";
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      font-size: 10px;
      line-height: 2; }

@-webkit-keyframes hvr-icon-drop {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 1; } }

@keyframes hvr-icon-drop {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }
  100% {
    opacity: 1; } }

.div-example {
  height: 2000px;
  width: 100%;
  background: red; }

.header-wrap {
  position: relative; }

.header-fixed {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background: transparent;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

.header-bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  top: -100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

.header-fixed.scrolling {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
  height: 70px; }
  .header-fixed.scrolling .header-bg {
    top: 0; }
  .header-fixed.scrolling .header-link {
    color: #2973b8; }
  .header-fixed.scrolling .header-languages-select select {
    color: #F2F2F2; }
  .header-fixed.scrolling .header-languages-select:before {
    color: #F2F2F2; }
  .header-fixed.scrolling .header-logo-desktop {
    opacity: 0;
    visibility: hidden; }
  .header-fixed.scrolling .header-logo-scroll {
    width: 80%;
    opacity: 1;
    visibility: visible; }

.header-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header-logo {
  max-width: 60px;
  position: absolute;
  top: 10px;
  left: 20px; }
  .header-logo img {
    display: block;
    height: auto;
    width: 100%; }
  .header-logo .header-logo-desktop {
    opacity: 1;
    visibility: visible; }
  .header-logo .header-logo-scroll {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }

.header-cnt-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header-list .header-item {
    display: inline-block;
    margin-right: 50px; }
    .header-list .header-item:lastt-child {
      margin-right: 0; }
  .header-list .header-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #2973b8;
    font-size: 15px;
    line-height: 15px;
    font-family: "ProximaNova-Regular", sans-serif;
    text-decoration: inherit;
    position: relative;
    padding-bottom: 7px;
    margin-top: 7px;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out; }
    .header-list .header-link:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: #858789;
      -webkit-transition: all .35s ease-in-out;
      transition: all .35s ease-in-out; }
  .header-list .header-link:hover {
    color: #858789;
    text-decoration: inherit !important; }
    .header-list .header-link:hover:before {
      width: 70%; }
  .header-list .header-link.active {
    color: #fff;
    text-decoration: inherit; }

.header-fixed.scrolling .header-link:hover {
  color: #858789;
  text-decoration: inherit !important; }
  .header-fixed.scrolling .header-link:hover:before {
    width: 70%; }

.header-fixed.scrolling .header-link.active {
  color: #2973b8;
  text-decoration: inherit; }

.header-languages {
  padding-left: 20px;
  position: relative; }
  .header-languages:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: #858789; }

.menu-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  z-index: 1500;
  right: -250px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 5px 0 20px 0; }

.menu-sidebar.active {
  right: 0; }

.header-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.header-menu-overlay.active {
  opacity: .6;
  visibility: visible;
  z-index: 1400; }

.menu-sidebar .menu-responsive {
  display: block;
  margin-top: 20px; }

.menu-sidebar .header-item {
  display: block; }

.menu-sidebar .header-link {
  display: block;
  padding-left: 30px;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  color: #2972b8;
  text-decoration: inherit; }

.menu-sidebar .header-languages-select {
  padding-left: 30px;
  margin-top: 20px; }

.menu-sidebar .header-languages-select select {
  color: #858789;
  font-size: 14px;
  width: 90px; }

.menu-sidebar .header-languages-select:before {
  color: #858789; }

.menu-sidebar .header-link.active {
  background: #858789;
  color: #fff; }

.responsive-logo {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 20px; }
  .responsive-logo img {
    display: block;
    width: 100%;
    height: auto; }
  .responsive-logo .header-logo-desktop {
    display: none; }
  .responsive-logo .header-logo-scroll {
    display: block; }

.menu-mobile-close, .menu-mobile-open {
  border-radius: 7%;
  color: #2973b8;
  background-color: white;
  cursor: pointer;
  font-size: 30px;
  height: 35px;
  width: 35px;
  line-height: 35px;
  position: fixed;
  right: 10px;
  text-align: center;
  top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  display: none; }

.menu-mobile-open {
  opacity: 1;
  visibility: visible;
  z-index: 1200;
  display: none; }

.menu-mobile-open.active {
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.menu-mobile-close {
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  background-color: white;
  color: #2973b8; }

.menu-mobile-close.active {
  visibility: visible;
  opacity: 1;
  right: 260px;
  z-index: 1500;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

body.active {
  overflow: hidden; }

@media screen and (max-width: 1024px) {
  .header-cnt-list {
    display: none; }
  .header-languages {
    display: none; }
  .header-fixed {
    height: 60px; }
  .header-fixed.scrolling .header-logo-scroll {
    width: 100%; }
  .header-fixed.scrolling .header-logo {
    max-width: 60px; }
  .header-logo {
    max-width: 60px; }
  .menu-mobile-close, .menu-mobile-open {
    display: block;
    display: none; }
  .header-fixed.scrolling {
    height: 60px; } }

@media screen and (max-width: 768px) {
  .header-logo {
    left: 0;
    right: 0; } }

@media screen and (max-width: 640px) {
  .responsive-logo {
    display: none; }
  .header-bg {
    display: none !important; }
  .header-fixed.scrolling {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .header-fixed {
    position: relative; } }

.footer {
  background: #ecf4ff;
  margin: 0 0;
  padding-top: 10px;
  padding-bottom: 10px; }
  .footer .container {
    max-width: 1200px; }

.footer-pad {
  color: #fff;
  text-align: left;
  font-size: 14px; }
  .footer-pad h4 {
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    margin: 0 0 25px 0;
    text-transform: uppercase; }
  .footer-pad p {
    margin: 0;
    font-size: 14px;
    line-height: 1.1; }
  .footer-pad a {
    color: #6d6e6f; }
  .footer-pad li {
    margin: 0 0 20px 0; }
    .footer-pad li:last-child {
      margin-bottom: 0; }

.listado-precio-footer {
  border: 1px solid #6d6e6f;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 8px;
  margin-top: 30px; }
  .listado-precio-footer a {
    position: relative;
    color: #fff !important;
    padding-left: 25px;
    display: block;
    margin: auto;
    padding-top: 3px; }
    .listado-precio-footer a:before {
      font-size: 16px;
      content: "\e90c";
      position: absolute;
      top: 0;
      left: 0;
      font-family: icomoon; }

.socials-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .socials-ctn a {
    width: 35px;
    height: 35px;
    position: relative;
    font-size: 12px;
    line-height: 35px;
    margin-right: 10px; }
    .socials-ctn a:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "\e912";
      width: 100%;
      height: 100%;
      font-size: 32px;
      opacity: 0;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out; }
    .socials-ctn a:last-child {
      margin-right: 0; }

.footer-bottom {
  margin-top: 75px;
  color: #6d6e6f;
  font-size: 14px;
  border-top: 1px solid #6d6e6f;
  padding-top: 15px; }
  .footer-bottom p {
    margin: 0; }
  .footer-bottom a {
    color: #6d6e6f; }

.creditos-right {
  text-align: right; }

.footer-logo-sub {
  padding-right: 0; }

.logo-footer {
  max-width: 85px;
  border: 1px solid #fff;
  padding: 20px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .logo-footer img {
    display: block; }

.footer-direccion {
  font-size: 14px;
  color: #6d6e6f;
  line-height: 1.2;
  padding-left: 40px; }
  .footer-direccion p {
    margin: 7px 0 10px 0; }
  .footer-direccion a {
    color: #fff; }

.footer-redes {
  padding-left: 0; }
  .footer-redes ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer-redes li {
    width: 40%;
    margin: 0 0 18px 0;
    text-align: center;
    line-height: 40px; }
  .footer-redes a {
    color: #6d6e6f;
    width: 100%;
    border: 1px solid #6d6e6f;
    margin: 0;
    padding: 0;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }

.footer__img {
  width: 100px;
  height: auto;
  margin: auto; }

@media screen and (min-width: 1025px) {
  .footer-redes a:hover {
    background: #fff;
    text-decoration: none; } }

@media screen and (max-width: 991px) {
  .footer-redes, .footer-logo {
    display: none; }
  .footer-creditos {
    text-align: center; } }

@media screen and (max-width: 767px) {
  .footer {
    padding: 20px 0; }
  .footer-middle .container {
    padding-bottom: 20px; }
    .footer-middle .container .row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .footer-ctn-sub {
    margin-bottom: 20px; }
    .footer-ctn-sub:nth-child(3) {
      margin-bottom: 0; } }

@media screen and (max-width: 480px) {
  .footer-ctn-sub {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }

.mapcontacto a {
  color: inherit; }
  .mapcontacto a:focus {
    outline: none; }

.mapcontacto .cnt-map {
  text-align: center; }
  .mapcontacto .cnt-map .box-map {
    width: 100%;
    height: 350px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .mapcontacto .cnt-map .map {
    width: 100%;
    height: 100%; }
  .mapcontacto .cnt-map .abrir-map, .mapcontacto .cnt-map .cerrar-map {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    background: c-1;
    color: blanco;
    font-family: t-2;
    border-radius: 5px;
    padding: 0 30px;
    display: none; }
    .mapcontacto .cnt-map .abrir-map:hover, .mapcontacto .cnt-map .cerrar-map:hover {
      background: c-1; }
  .mapcontacto .cnt-map .cerrar-map {
    position: absolute;
    left: 10px;
    bottom: 30px;
    z-index: 100; }

.tabcontacto {
  max-width: 1150px;
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px; }

.contac-nav {
  width: 50%;
  background: #fff;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 65px;
  position: relative;
  margin-top: -255px; }
  .contac-nav h2 {
    font-size: 28px;
    font-family: "ProximaNova-Bold", sans-serif;
    color: #58595b;
    margin-bottom: 30px; }

.contac-padding {
  padding: 0px 75px; }

.contact-tex {
  font-size: 16px;
  text-align: center;
  color: #858789; }

.contact-tabs {
  margin-top: 45px;
  text-align: center; }
  .contact-tabs a {
    text-decoration: none;
    color: #58595b;
    font-size: 16px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    padding-bottom: 25px;
    border-bottom: 3px solid transparent; }
    .contact-tabs a:hover, .contact-tabs a.active {
      color: #DE0000;
      border-bottom: 3px solid #DE0000; }
  .contact-tabs a:nth-child(2) {
    margin: 0 90px; }

.contc-info {
  padding-bottom: 65px;
  padding-top: 65px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0; }
  .contc-info.active {
    opacity: 1;
    position: relative;
    visibility: visible; }

.contact-itm {
  display: block;
  margin-bottom: 35px;
  text-align: left; }
  .contact-itm a, .contact-itm p {
    color: #858789;
    display: block;
    height: 20px;
    font-size: 15px;
    text-transform: none;
    text-decoration: none;
    padding-left: 50px;
    position: relative; }
    .contact-itm a:before, .contact-itm p:before {
      color: #DE0000;
      font-weight: bold; }
  .contact-itm:nth-child(1) a:before {
    content: '\e90e';
    font-family: "icomoon";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px; }
  .contact-itm:nth-child(2) a:before {
    content: '\e90b';
    font-family: "icomoon";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px; }
  .contact-itm:nth-child(3) p:before {
    content: '\e941';
    font-family: "icomoon";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px; }

.contacredes {
  background: #f9f9f9;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 75px;
  text-align: left; }
  .contacredes span {
    font-size: 16px;
    color: #858789; }
  .contacredes a {
    color: #858789;
    font-size: 20px;
    text-decoration: none; }
    .contacredes a:hover {
      color: #DE0000; }

.contac-form {
  width: 44%;
  margin-left: 6%;
  padding-top: 45px; }
  .contac-form li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

.contac-input {
  width: 45%;
  margin-bottom: 45px; }
  .contac-input -webkit-input-placeholder {
    color: #858789;
    font-family: "ProximaNova-Regular", sans-serif; }
  .contac-input -moz-placeholder {
    color: #858789;
    font-family: "ProximaNova-Regular", sans-serif; }
  .contac-input -moz-placeholder {
    color: #858789;
    font-family: "ProximaNova-Regular", sans-serif; }
  .contac-input -ms-input-placeholder {
    color: #858789;
    font-family: "ProximaNova-Regular", sans-serif; }
  .contac-input input, .contac-input textarea {
    font-size: 14px;
    color: #858789;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #858789; }
  .contac-input:first-child {
    margin-right: 10%; }

.contactextarea {
  width: 100%;
  margin-right: 0 !important; }
  .contactextarea textarea {
    width: 100%;
    height: 100px; }

@media screen and (max-width: 1024px) {
  .tabcontacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contac-nav {
    width: 100%; }
  .contac-form {
    width: 100%;
    margin-left: 0; }
  .contac-nav h2 {
    font-size: 25px;
    text-align: center; } }

@media screen and (max-width: 640px) {
  .contac-padding {
    padding: 0 20px; }
  .contact-tabs a:nth-child(2) {
    margin: 0 20px; }
  .contacredes {
    padding: 0px 20px; } }

.banner-bgc {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.nav-page {
  background: #F7FAFF;
  -webkit-box-shadow: 6px 3px 8px 2px rgba(0, 0, 0, 0.07);
          box-shadow: 6px 3px 8px 2px rgba(0, 0, 0, 0.07); }

.nav-page-wrap {
  max-width: 800px;
  margin: auto; }

.nav__item {
  padding-top: 20px;
  padding-bottom: 20px;
  display: none; }
  .nav__item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .nav__item ul li {
      margin: 0;
      width: 33.333%;
      text-align: center; }

.bloque__blue {
  background-color: #0073BF; }

.bloque__blue__text p {
  font-size: 14px;
  color: white;
  font-family: "Metropolis", sans-serif;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px; }

.bloque__blue__text {
  max-width: 1200px;
  margin: auto;
  text-align: right; }

.banner-home .bx-wrapper .bx-controls-direction a {
  z-index: 99;
  text-indent: inherit; }

.banner-home .bx-wrapper .bx-next {
  background: none; }
  .banner-home .bx-wrapper .bx-next:before {
    content: "\e606";
    font-family: 'icomoon';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    font-size: 40px;
    margin: auto;
    color: white; }

.banner-home .bx-wrapper .bx-prev {
  background: none; }
  .banner-home .bx-wrapper .bx-prev:before {
    content: "\e607";
    font-family: 'icomoon';
    color: white;
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto; }

.banner-home .bx-wrapper .bx-pager, .banner-home .bx-wrapper .bx-controls-auto {
  position: absolute; }

.banner-home .bx-wrapper .bx-pager {
  bottom: 15px;
  z-index: 989;
  width: 100%; }

.banner-home .bx-wrapper .bx-pager.bx-default-pager a:hover, .banner-home .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #2972b8; }

.banner-container {
  width: 100%;
  height: 370px;
  max-width: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 35%;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto; }

.banner__bgc__wrapp {
  max-width: 800px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.banner__content__box {
  color: white;
  max-width: 400px; }
  .banner__content__box p {
    font-size: 18px;
    font-family: "Metropolis", sans-serif;
    margin: auto; }
  .banner__content__box h3 {
    padding-top: 10px;
    font-size: 50px;
    letter-spacing: 5.4px;
    font-family: "Rockwell-r", sans-serif;
    margin: auto; }

.banner-container-responsive {
  width: 198px;
  height: 195px;
  max-width: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 35%;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto; }

.banner-container img {
  width: 100%;
  height: auto;
  max-width: 100%; }

.banner-text {
  padding-right: 20px;
  padding-left: 20px;
  color: white; }
  .banner-text h3 {
    font-size: 18px;
    font-family: "Metropolis", sans-serif;
    font-weight: lighter; }
  .banner-text h2 {
    font-size: 28px;
    font-family: "Rockwell-r", sans-serif;
    letter-spacing: 4.1px;
    line-height: 1.4; }

.banner-container-responsive {
  display: none; }

.nosotros__blck {
  max-width: 800px;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  color: #2974B8; }

.nosotros__title h2 {
  font-size: 28px;
  font-family: "Rockwell-r", sans-serif;
  letter-spacing: 3px; }

.nosotros__text {
  padding-top: 20px; }
  .nosotros__text p {
    font-size: 18px;
    text-align: justify;
    font-family: "Metropolis", sans-serif;
    line-height: 1.9; }

.logo__team {
  background-color: #2471ba;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  .logo__team h2 {
    margin: auto; }

.scroll-home {
  position: relative; }

.logo__team__img h2 {
  font-size: 16px;
  color: white;
  font-family: "Metropolis", sans-serif; }

.team__block {
  background-color: #ecf4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.team__text {
  width: 100%;
  max-width: 800px;
  margin: auto; }

.text__slider__team {
  line-height: 1.4;
  padding-top: 10px; }
  .text__slider__team p {
    font-size: 14px;
    color: #696969;
    font-family: "Metropolis", sans-serif; }
    .text__slider__team p a {
      color: #2974B8; }

.team__slider {
  max-width: 580px;
  margin: auto;
  margin-top: 40px; }

.team__vector img {
  max-width: 100%;
  height: auto;
  width: 100%; }

.team__title {
  text-align: center; }
  .team__title h2 {
    font-size: 28px;
    font-family: "Rockwell-r", sans-serif;
    letter-spacing: 3px;
    color: #2974B8; }

.team__parrafo {
  padding-top: 20px; }
  .team__parrafo p {
    font-size: 18px;
    color: #2974B8;
    line-height: 1.9;
    font-family: "Metropolis", sans-serif; }

.chat__img__box {
  width: 274px;
  height: 273px;
  max-width: 100%; }
  .chat__img__box img {
    max-width: 100%;
    width: 100%;
    height: auto; }

.chat__img__box img {
  width: 100%;
  max-width: 100%;
  height: auto; }

.chat__block {
  max-width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.chat__title {
  width: 50%; }
  .chat__title h2 {
    font-size: 28px;
    font-family: "Rockwell-r", sans-serif;
    letter-spacing: 3px;
    color: #2974B8; }
  .chat__title p {
    font-size: 18px;
    color: #2974B8;
    font-family: "Metropolis", sans-serif;
    line-height: 1.9; }

.chat {
  padding-top: 80px;
  padding-bottom: 80px; }

.chat__img {
  width: 50%; }

.button__banner__img {
  width: 20px;
  height: 20px;
  max-width: 100%;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle; }
  .button__banner__img img {
    max-width: 100%;
    height: auto; }

.button__banner {
  background: #2973b8;
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 4px 19px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 4px 19px 0px rgba(0, 0, 0, 0.75); }

.button__text {
  display: inline-block;
  vertical-align: middle; }
  .button__text p {
    font-size: 14px;
    margin: auto;
    font-family: "Metropolis", sans-serif;
    color: white; }

.banner__button {
  padding-top: 20px; }

@media screen and (max-width: 980px) {
  .nav-page {
    display: block; }
  .nav__item {
    display: block; }
  .team__vector {
    display: none; }
  .nosotros__text p {
    font-size: 16px; }
  .team__parrafo p {
    font-size: 16px; }
  .team__text {
    width: 100%; }
  .team__slider {
    margin-top: 50px; }
  .team__block {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white; }
    .team__block p {
      text-align: justify; } }

@media screen and (max-width: 768px) {
  .team__vector {
    width: 50%; }
  .team__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .team__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .team__text {
    width: 80%;
    text-align: center; }
  .chat__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .chat__title {
    text-align: center;
    width: 100%; }
  .banner__bgc__wrapp {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .nosotros__blck {
    padding-left: 15px;
    padding-right: 15px; }
  .team__block {
    padding-left: 15px;
    padding-right: 15px; }
  .chat__img__box {
    width: 194px;
    height: 243px;
    margin: auto; }
  .banner-bgc {
    height: 300px; }
  .nosotros__blck {
    max-width: 520px; }
  .team__block {
    max-width: 520px;
    margin: auto; }
  .team__text {
    width: 100%; }
  .scroll-home {
    overflow-y: scroll;
    height: 420px; }
  .chat {
    padding-top: 20px;
    padding-bottom: 20px; }
  .banner-bgc {
    height: 180px; } }

@media screen and (max-width: 520px) {
  .chat__img__box {
    width: 194px;
    height: 243px;
    margin: auto; }
  .banner-container {
    display: none; }
  .banner-container-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .banner-container {
    width: 278px;
    height: 365px; }
  .nosotros__blck {
    padding-top: 50px;
    padding-bottom: 50px; }
  .banner-bgc {
    height: 180px; }
  .banner__content__box h3 {
    font-size: 30px;
    line-height: 1.4; }
  .nosotros__text p {
    font-size: 14px; }
  .banner-bgc {
    height: 150px; }
  .team__parrafo p {
    font-size: 14px; }
  .chat__title p {
    font-size: 14px; }
  .banner__content__box p {
    font-size: 18px; }
  .banner__content__box h3 {
    font-size: 24px; }
  .banner-text h3 {
    font-size: 12px; }
  .banner-text h2 {
    font-size: 14px;
    line-height: 1.4; } }

@media screen and (max-width: 380px) {
  .banner-bgc {
    background-position-x: 35%;
    background-position: none; } }
